@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-Color: #7D81EA;
    --secondary-Color: #97ABF7;
    --text-Color: #192335;
    --alert-Color: #0099ff;
    --success-Color: #8BE0DD;
    --warning-Color: #EE8800;
    --error-Color: #FE514C;
    --grey-Color: #6b7385;
    --black-Color: #192335;
    --main-Background-Color: #FFFFFF;
    --secondary-Background-Color:#E4E9FD;
    --secondary-Font: "Montserrat", sans-serif;
    --button-padding: 15px 26px;
    --button-border-radius: 6px;
    --button-font-weight: 500;
    --heading:60px;
	--heading-large: 35px;
    --heading-medium: 25px;
    --paragraph: 18px;
    --logo-border-radius: 15px;
    --jumbotron-padding: 50px 6px;
    --section-padding:30px 0px;

}
.fdb-block {
    padding: 0rem 0;
}
/* headerh222fa673a781ab9e */
.headerh222fa673a781ab9e .navbar-light .navbar-nav .active>.nav-link,
.headerh222fa673a781ab9e .navbar-light .navbar-nav .nav-link{
    color: var(--black-Color);
}
.headerh222fa673a781ab9e .navbar-light .navbar-nav .active>.nav-link:hover,
.headerh222fa673a781ab9e .navbar-light .navbar-nav .nav-link:hover{
    color: var(--primary-Color);
}
.headerh222fa673a781ab9e .fa-shopping-cart,
.headerh222fa673a781ab9e .fa-user-plus{
color: var(--primary-Color);
}
/* headerh222fa673a781ab9e */
.headerb4ddd9e9eed437a92 .logo-header .logo{
    display: none;
}
.headerb4ddd9e9eed437a92 .logo-header h2 {
    font-size: var(--heading) !important;
    font-weight: 300;
}
.headerb4ddd9e9eed437a92 .logo-header p{
    font-size: var(--paragraph);
}
.headerb4ddd9e9eed437a92 .logo-header .btn{
    padding: var(--button-padding);
    background-color: var(--secondary-Background-Color);
    border: none;
    font-weight: var(--button-font-weight);
    color: var(--black-Color);
    border-radius: var(--button-border-radius) !important;
}
.headerb4ddd9e9eed437a92 .logo-header .btn:hover {
    color: var(--black-Color);
    background-color: var(--success-Color);
    border-color: var(--success-Color);
}
/* aboutab8dfbbd4bed */
.aboutab8dfbbd4bed{
    padding: var(--section-padding);
}
.aboutab8dfbbd4bed .description {
    font-size: var(--heading-large);
    color: var(--black-Color);
    font-weight: var(--button-font-weight);
}
.aboutab8dfbbd4bed .Explore{
    padding: var(--button-padding);
    background-color: var(--primary-Color);
    border: none;
    font-weight: var(--button-font-weight);
    color: var(--black-Color);
    border-radius: var(--button-border-radius) !important;
}
.aboutab8dfbbd4bed .para{
    font-size: var(--paragraph);
}
/* cypertests85306591c7940cb0 */
.cypertests85306591c7940cb0{
    padding: var(--section-padding);
}
.cypertests85306591c7940cb0 h2 {
    font-size: var(--heading-large);
    margin-bottom: 15px;
}
.cypertests85306591c7940cb0 a,
.cypertests85306591c7940cb0 a:hover {
    font-size: var(--heading-two);
    color: var(--primary-Color);
}
/* crunellaobWyteyCWzRLkMG */
.crunellaobWyteyCWzRLkMG .fdb-block{
    padding: var(--section-padding);
}
.crunellaobWyteyCWzRLkMG h1 {
    font-size: var(--heading-large);
}
.crunellaobWyteyCWzRLkMG .fdb-block img + h1, .fdb-block img + h2 {
    margin-top: 15px;
}
.crunellaobWyteyCWzRLkMG .lead {
    font-size: var(--paragraph);
}
/* counteraf598102c9dad94e */
.counteraf598102c9dad94e{
    padding: var(--section-padding);
}
.counteraf598102c9dad94e h2 {
    font-size: var(--heading-large);
    color: var(--error-Color);
}
.counteraf598102c9dad94e h4{
    font-size: var(--paragraph);
}
/* aboute50d5193e4b9f737 */
.aboute50d5193e4b9f737 {
    padding: var(--section-padding);
}
.aboute50d5193e4b9f737 h2 {
    font-size: var(--heading-large);
}
.aboute50d5193e4b9f737 li{
    font-weight: var(--button-font-weight);
}
.aboute50d5193e4b9f737 .searchBtn{
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight);
    background-color: var(--error-Color);
}
.aboute50d5193e4b9f737 .margin{
    margin-left: -40px;
}
/* calltoactionca00jikay2r */
.calltoactionca00jikay2r .fdb-block{
    padding: var(--section-padding) !important;
}
.calltoactionca00jikay2r h1 {
    font-size: var(--heading-large);
}
.calltoactionca00jikay2r .btn-primary,
.calltoactionca00jikay2r .btn-primary:hover,
.calltoactionca00jikay2r .btn-primary:not(:disabled):not(.disabled):active{
    background-color: var(--error-Color);
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight);
    border: none;
}
.calltoactionca00jikay2r .lead {
    font-size: var(--paragraph);
}
.calltoactionca00jikay2r h3 {
    font-size: var(--heading-two);
    margin-top: 15px;
}
.calltoactionca00jikay2r strong {
    font-weight: var(--button-font-weight);
}
/* funtushftac0ssp3mu */
.funtushftac0ssp3mu{
    padding: var(--section-padding);
}
.funtushftac0ssp3mu h1 {
    font-size: var(--heading-large);
}
.funtushftac0ssp3mu .lead {
    font-size: var(--paragraph);
}
.funtushftac0ssp3mu h3 {
    font-size: var(--heading-medium);
    margin-top: 15px;
}
.funtushftac0ssp3mu strong {
    font-weight: var(--button-font-weight);
}
/* fukraft73lhx26hp */
.fukraft73lhx26hp{
    padding: var(--section-padding);
}
.fukraft73lhx26hp h1 {
    font-size: var(--heading-large);
}
.fukraft73lhx26hp .lead {
    font-size: var(--paragraph);
}
.fukraft73lhx26hp strong {
    font-weight: var(--button-font-weight);
}
.fukraft73lhx26hp h3 {
    font-size: 25px;
}
.fukraft73lhx26hp .fdb-block{
    padding: 0rem 0 !important;
}
/* servicecda4f61d9a1b5853 */
.servicecda4f61d9a1b5853{
    padding: var(--section-padding);
}
.servicecda4f61d9a1b5853 .text-center {
    margin-left: 0px;
}
.servicecda4f61d9a1b5853 .font-weight-bold {
    font-weight: var(--button-font-weight) !important;
}
.servicecda4f61d9a1b5853 .card-title{
    font-size: var(--paragraph);
}
/* bannerd12294b36d7b134b */
.bannerd12294b36d7b134b{
    padding: var(--section-padding);
}
.bannerd12294b36d7b134b h2 {
    font-size: var(--heading-medium);
}
.bannerd12294b36d7b134b .font-weight-bold {
    font-weight: var(--button-font-weight) !important;
}
.bannerd12294b36d7b134b .button,
.bannerd12294b36d7b134b .button:hover{
    border-radius: var(--button-border-radius);
    font-weight: var(--button-font-weight);
    background-color: var(--error-Color);
    color: var(--secondary-Background-Color);
}
/* c617bbc778c75015 */
.c617bbc778c75015 {
    padding: var(--section-padding);
}
.c617bbc778c75015 h3 {
    font-size: var(--heading-large);
}
.c617bbc778c75015 .falcon .accordion .card .card-header .btn-header-link{
    font-size: var(--paragraph);
}
/* footerf439c65adee997571 */
.footerf439c65adee997571{
    overflow: hidden;
}
.footerf439c65adee997571 .footer-links li a,
.footerf439c65adee997571 .footer-category li a{
    font-size: 16px;
    color: var(--black-Color);
}
.footerf439c65adee997571 .copyright{
    color: var(--black-Color);
    background: var(--secondary-Background-Color);
}
.footerf439c65adee997571 .footer-wrap h3{
    font-size: var(--paragraph);
}
.footerf439c65adee997571 .copyright{
    font-size: 16px;
}